.flexsection {
  width: 1000px;
  min-height: 100px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 20px;
  padding-top: 0px;
}

#grid-container {
  width: 1000px;
  min-height: 600px;
  padding: 20px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 10fr;
}

#grid-container2 {
  width: 400px;
  min-height: 500px;
  padding: 40px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#grid-container3 {
  width: 1000px;
  min-height: 600px;
  padding: 20px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

#grid-container4 {
  width: 1000px;
  min-height: 900px;
  padding: 20px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

h1 {
  font-size: 1.5rem;
  padding: 20px;
}
h2 {
  font-size: 4rem;
  padding: 10px;
}

h3 {
  font-size: 3rem;
  padding: 10px;
}
header {
  margin: 0px;
}

article {
  margin-bottom: 30px;
}

footer {
  margin: -5px;
  justify-content: end;
  background-image: radial-gradient(
    rgba(217, 69, 197, 0.168),
    rgba(175, 139, 226, 0.347)
  );
  text-align: right;
  padding: 10px;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #0e0e0e;
}

.navbutton {
  color: white;
}

.navbutton:hover {
  opacity: 0.5;
  text-decoration: underline;
}
/* above darkens clickable objects by lowering opacity by 50% using a class to make obvious to user that they are clickable*/
.box {
  background-image: radial-gradient(rgb(217, 69, 197), rgb(175, 139, 226));
  border-radius: 15px;
}
.currentnav {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 950px;
  border-radius: 15px;
  padding: 12px 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
