.flexsection {
  width: auto;
  min-height: 100px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 20px;
}
/* Navigation bar flexbox section */

#grid-container {
  width: auto;
  min-height: 600px;
  padding: 20px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 10fr;
}
/* Landing page grid container */

#grid-container2 {
  width: 400px;
  min-height: 500px;
  padding: 40px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
/* Landing page grid for extra navigation buttons */

#grid-container3 {
  width: auto;
  min-height: 600px;
  padding: 20px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}
/* Question page grid layout */

#grid-container4 {
  width: auto;
  padding: 20px;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
/* Gallery Grid Layout */

h1 {
  font-size: 1.5rem;
  padding: 20px;
}

h2 {
  font-size: 4rem;
  padding: 20px;
}

h3 {
  font-size: 3rem;
  padding: 30px;
}

header {
  background-image: linear-gradient(
    rgba(154, 208, 255, 0.748),
    rgba(154, 208, 255, 0.241),
    rgba(217, 69, 197, 0)
  );
  filter: blur(500%);
}

article {
  margin-bottom: 30px;
}

em {
  font-weight: bold;
}
i {
  font-style: italic;
  font-size: 1rem;
}

footer {
  margin: auto;
  justify-content: end;
  width: auto;
  background-image: linear-gradient(
    rgba(217, 69, 197, 0),
    rgba(154, 208, 255, 0.241),
    rgba(154, 208, 255, 0.748)
  );
  filter: blur(150%);
  text-align: right;
  padding: 20px;
}
/* Footer formatting and styling */

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #0e0e0e;
}
/* In graphic design usually you don't want to use pure black or pure white 
for big blocks/shapes so I made it off-black. Was going to change the Space 
Grotesk font but genuinely could not find another google font I liked more 
for this specific style of website. I feel like it is modern enough to fit 
the Luni vibe, it's very readable, and also has this geometric computer vibe,
 which is perfect for a website dedicated to analysing another website. */

p {
  padding: 20px;
  font-size: large;
}

.answer {
  font-style: italic;
}

.navbutton {
  color: white;
}

.navbutton:hover {
  opacity: 0.5;
  text-decoration: underline;
}
/* above darkens clickable objects by lowering opacity by 50% on hover using a class to make obvious to user that they are clickable, learnt off W3 schools
https://www.w3schools.com/css/css_image_transparency.asp */

.box {
  background-image: radial-gradient(
    rgba(154, 208, 255, 0.748),
    rgba(249, 149, 196, 0.671)
  );
  border-radius: 15px;
  filter: blur(150%);
  filter: contrast(150%);
}

.box2 {
  background-image: linear-gradient(
    rgba(249, 149, 196, 0.671),
    rgba(154, 208, 255, 0.748)
  );
  border-radius: 15px;
  filter: blur(150%);
  filter: contrast(150%);
}
/* Styling boxes */

.currentnav {
  opacity: 0.5;
}
/* currentnav class makes sure the user knows which page they are already on, and is not a navigable button (as they are already on the page) */

a {
  text-decoration: none;
  color: white;
}
/* Makes it so links are no longer blue and unerlined */

#backtotop {
  width: auto;
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
  padding-top: 0px;
}
/* Flexbox formatting for back to top button */

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0e0e0eb0;
  padding: 20px;
  z-index: 999;
  margin-top: -100px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
/* Dropdown on hover comments for the Luniverse image gallery to relate the images to the visuals of the website.
I learnt this one off W3 Schools again: https://www.w3schools.com/css/css_dropdowns.asp */
