:root {
  --primary-bg-color: rgba(255, 106, 0, 0.197);
  --text-color: #f9fafc;
  --main-bg-color: rgba(255, 150, 22, 0.065);
  --main-text-color: #fff;
  --main-btn-bg-color: #93898900;
}

/* A lot of the assets I've added this 'liquid glass' effect to create very whimsical and relaxed styling, that still appears modern- perfect for study. This has been done mainly through "backdrop-filter: blur" based on this styling guide I found: https://medium.com/ekino-france/liquid-glass-in-css-and-svg-839985fcb88d */

body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* main styling */
body {
  font-family: "Elms Sans", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* header styling */
header {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 15px;
  text-align: left;
  font-size: 0.9rem;
  width: 100%;
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(255, 255, 255, 0.087);
}

/* text styling */
h3 {
  font-size: 0.8rem;
}

/* Media player styling */
article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 100%;
  margin: 15px;
  background-color: rgba(255, 150, 22, 0.197);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

/* media buttons section styling */
.custom-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
}

/* actual button styling */
.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  max-width: 40px;
  max-height: 40px;
}

/* button hover styling */
button:hover {
  opacity: 0.5;
}

.body-btn {
  background: transparent;
  border: none;
  padding: 20px;
  cursor: pointer;
  width: 80px;
}

/* progress bar styling */
.progress-bar {
  width: 120px;
  height: 10px;
  background-color: #dddddd2d;
  overflow: hidden;
  border-radius: 15px;
  margin: 5px;
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(255, 255, 255, 0.087);
}

#progress-bar-fill {
  display: block;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.758);
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(0, 0, 0, 0.087);
}

/* Footer styling */
footer {
  color: var(--main-text-color);
  text-align: left;
  padding: 20px;
  font-size: 0.5rem;
}

/* pomodoro timer styling */
#time-display {
  white-space: nowrap;
  min-width: 70px;
  text-align: center;
}

.pomodoro-box {
  margin-top: 20px;
  text-align: center;
}

#timer-display {
  font-size: 2rem;
  margin: 10px;
}

.timer {
  color: var(--main-text-color);
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: auto;
  display: flex;
  gap: 0.1rem;
  font-size: 1rem;
  min-width: 400px;
  justify-content: center;
  background-color: rgba(255, 150, 22, 0.197);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  align-items: center;
}

#timer-start-btn,
#timer-reset-btn {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
}

/* background video styling- I had to do some research to figure out how to get it to consistently cover the screen regardless of window size. This is done through 'object-fit:cover' */
#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -99;
  opacity: 0.5;
}

section {
  display: flex;
  background-color: none;
  border-radius: 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.087);
}
