header {
  background-color: #84b172e1;
  margin-top: -15px;
  margin-left: 0px;
  margin-right: -15px;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 2rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h3 {
  color: #fafafa;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}

nav {
  background-color: antiquewhite;
  text-align: center;
  padding: 15px;
  margin-left: -20px;
  margin-right: -20px;
}

body {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button {
  background-color: #84b172e1;
  border: none;
  border-radius: 10px;
  color: #fafafa;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

li {
  margin-bottom: 30px;
}

footer {
  background-color: #84b172e1;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  text-align: right;
  padding: 2px;
  font-size: 1rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.outer {
  width: 400px;
  border: 2px dashed #e5e5cb56;
  border-radius: 15px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.limebox {
  background-color: limegreen;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #3c2a21;
  padding: 10px;
}

.coralbox {
  background-color: coral;
  color: #3c2a21;
  padding: 10px;
}

.plumbox {
  background-color: plum;
  color: #3c2a21;
  padding: 10px;
}
