.flexsection {
  width: 600px;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  gap: 0px;
}

#grid-container {
  width: 500px;
  min-height: 500px;
  padding: 40px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

header {
  margin: auto;
}

nav {
  margin: auto;
}

footer {
  margin: auto;
  justify-content: end;
}

body {
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
}
