header {
  background-color: #d38c8ec9;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
  font-size: 1.1rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h3 {
  color: white;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}

nav {
  background-color: antiquewhite;
  text-align: center;
  padding: 15px;
  margin-left: -20px;
  margin-right: -20px;
}

body {
  background-image: linear-gradient(to bottom, #ffcdb2, #ffb4a2, antiquewhite);
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button {
  background-color: #d38c8ebd;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

li {
  margin-bottom: 30px;
}
