.skin {
  width: auto;
  height: 550px;
  margin: 25px;
  margin-top: -250px;
  display: flex;
  justify-content: center;
}

.skinswatch {
  margin: 10px;
}

.skinbutton {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 100px;
}

.outfit-stack {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.outfit-stack img {
  grid-column: 1;
  grid-row: 1;
  width: 100%; /* Makes images scale together */
  height: auto;
}

.hair {
  width: 298px;
  height: 421px;
}

.shoes {
  width: 298px;
  height: 421px;
}

.shoerack {
  width: 200px;
  height: 20px;
  margin-left: -300px;
}

.shoebuttons {
  margin-left: 220px;
  width: 290px;
  height: 20px;
  display: flex;
  justify-content: space-around;
}

.shirt {
  width: 298px;
  height: 421px;
}

.shirthang {
  width: 298px;
  height: 421px;
  margin-left: -300px;
}

.shirtrack {
  margin-left: 300px;
  width: 150px;
  height: 20px;
  display: flex;
  justify-content: space-around;
}

.pants {
  width: 298px;
  height: 421px;
}

.pantsrack {
  margin-left: 300px;
  width: 150px;
  height: 300px;
  display: flex;
  justify-content: space-around;
}

.pantshang {
  width: 298px;
  height: 421px;
  margin-left: -300px;
}

.body {
  display: flex;
  flex-direction: row;
}
